In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1, errors='ignore')
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Determine which values to replace if counts are less than ...?
replace_application = list(app_type_counts[app_type_counts < 200].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
class_counts = application_df['CLASSIFICATION'].value_counts()
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 1500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [6]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION               6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at AFFILIATION_TYPE value counts for binning
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [8]:
## ATTEMPT #1
# Drop the NOISEY columns...
# affiliation drop 53% accuracy, loss
#application_df = application_df.drop([ "AFFILIATION"], axis=1, errors='ignore')
# special considerations drop 56% accuracy, loss
#application_df = application_df.drop([ "SPECIAL_CONSIDERATIONS"], axis=1, errors='ignore')
# organization drop 51% accuracy, loss
#application_df = application_df.drop([ "ORGANIZATION"], axis=1, errors='ignore')
# USE_CASE drop 68% accuracy, small loss
#application_df = application_df.drop([ "USE_CASE"], axis=1, errors='ignore')
#application_df = application_df.drop([ "INCOME_AMT"], axis=1, errors='ignore')
#application_df = application_df.drop([ "USE_CASE","STATUS","SPECIAL_CONSIDERATIONS"], axis=1, errors='ignore')


application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
affiliation_counts = application_df['AFFILIATION'].value_counts()
# Determine which values to replace if counts are less than ..?
replace_aff = list(affiliation_counts[affiliation_counts < 10000].index)

# Replace in dataframe
for cls in replace_aff:
    application_df.AFFILIATION = application_df.AFFILIATION.replace(cls,"Other")

application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [10]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/opt/anaconda3/envs/c19/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

/var/folders/k2/_vmbq89j1hxc6jj5_vc2km400000gn/T/ipykernel_70620/2023052568.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(application_cat,1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

/var/folders/k2/_vmbq89j1hxc6jj5_vc2km400000gn/T/ipykernel_70620/4160414236.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# ATTEMPT 3 - increasing node size
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 =50
# ATTEMPT 2 = added an extra layer
#hidden_nodes_layer3 =30
#hidden_nodes_layer4 =30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
#nn.add(
#    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
# this actually made it worse at 47%
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

#Fourth hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="sigmoid"))

# Output layer
#nn.add(tf.keras.layers.Dense(units=1, activation="relu"))
#more relu was worse

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
#nn.add(tf.keras.layers.Dense(units=1, activation="linear"))


#nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))
#tanh was worse

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3280
_________________________________________________________________
dense_1 (Dense)              (None, 50)                4050
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 51
=================================================================
Total params: 7,381
Trainable params: 7,381
Non-trainable params: 0
_________________________________________________________________

2022-08-10 14:35:19.629688: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2022-08-10 14:35:19.629954: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints2/",exist_ok=True)
checkpoint_path = "checkpoints2/weights.{epoch:02d}.hdf5"

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch')

In [18]:
# Train the model - More epochs more problems?
fit_model = nn.fit(X_train,y_train,epochs=100,callbacks=[cp_callback])
#fit_model = nn.fit(X_train,y_train,epochs=200,callbacks=[cp_callback])

2022-08-10 14:35:19.682495: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)

Epoch 1/100
804/804 [==============================] - 1s 476us/step - loss: 46034.8265 - accuracy: 0.4894

Epoch 00001: saving model to checkpoints2/weights.01.hdf5
Epoch 2/100
804/804 [==============================] - 0s 483us/step - loss: 64417.8069 - accuracy: 0.4867

Epoch 00002: saving model to checkpoints2/weights.02.hdf5
Epoch 3/100
804/804 [==============================] - 0s 500us/step - loss: 26502.3574 - accuracy: 0.4810

Epoch 00003: saving model to checkpoints2/weights.03.hdf5
Epoch 4/100
804/804 [==============================] - 0s 491us/step - loss: 27432.2810 - accuracy: 0.4749

Epoch 00004: saving model to checkpoints2/weights.04.hdf5
Epoch 5/100
804/804 [==============================] - 0s 485us/step - loss: 28968.2146 - accuracy: 0.5089

Epoch 00005: saving model to checkpoints2/weights.05.hdf5
Epoch 6/100
804/804 [==============================] - 0s 495us/step - loss: 9472.8431 - accuracy: 0.4898

Epoch 00006: saving model to checkpoints2/weights.06.hdf5
Epoch 7/100
804/804 [==============================] - 0s 489us/step - loss: 26630.2636 - accuracy: 0.4833

Epoch 00007: saving model to checkpoints2/weights.07.hdf5
Epoch 8/100
804/804 [==============================] - 0s 515us/step - loss: 20327.9239 - accuracy: 0.5270

Epoch 00008: saving model to checkpoints2/weights.08.hdf5
Epoch 9/100
804/804 [==============================] - 0s 474us/step - loss: 20472.2432 - accuracy: 0.5058

Epoch 00009: saving model to checkpoints2/weights.09.hdf5
Epoch 10/100
804/804 [==============================] - 0s 503us/step - loss: 9201.5303 - accuracy: 0.5320

Epoch 00010: saving model to checkpoints2/weights.10.hdf5
Epoch 11/100
804/804 [==============================] - 0s 486us/step - loss: 3502.3501 - accuracy: 0.5066

Epoch 00011: saving model to checkpoints2/weights.11.hdf5
Epoch 12/100
804/804 [==============================] - 0s 495us/step - loss: 20373.1533 - accuracy: 0.4915

Epoch 00012: saving model to checkpoints2/weights.12.hdf5
Epoch 13/100
804/804 [==============================] - 0s 482us/step - loss: 8224.6347 - accuracy: 0.5102

Epoch 00013: saving model to checkpoints2/weights.13.hdf5
Epoch 14/100
804/804 [==============================] - 0s 507us/step - loss: 8913.4380 - accuracy: 0.5043

Epoch 00014: saving model to checkpoints2/weights.14.hdf5
Epoch 15/100
804/804 [==============================] - 0s 560us/step - loss: 4959.8377 - accuracy: 0.5075

Epoch 00015: saving model to checkpoints2/weights.15.hdf5
Epoch 16/100
804/804 [==============================] - 0s 522us/step - loss: 5575.1948 - accuracy: 0.5122

Epoch 00016: saving model to checkpoints2/weights.16.hdf5
Epoch 17/100
804/804 [==============================] - 0s 525us/step - loss: 1524.1211 - accuracy: 0.5192

Epoch 00017: saving model to checkpoints2/weights.17.hdf5
Epoch 18/100
804/804 [==============================] - 0s 551us/step - loss: 620.3413 - accuracy: 0.5075

Epoch 00018: saving model to checkpoints2/weights.18.hdf5
Epoch 19/100
804/804 [==============================] - 0s 527us/step - loss: 125.3910 - accuracy: 0.5396

Epoch 00019: saving model to checkpoints2/weights.19.hdf5
Epoch 20/100
804/804 [==============================] - 0s 477us/step - loss: 0.7043 - accuracy: 0.5351

Epoch 00020: saving model to checkpoints2/weights.20.hdf5
Epoch 21/100
804/804 [==============================] - 0s 491us/step - loss: 0.6910 - accuracy: 0.53370s - loss: 0.6910 - accuracy: 0.53

Epoch 00021: saving model to checkpoints2/weights.21.hdf5
Epoch 22/100
804/804 [==============================] - 0s 493us/step - loss: 0.6914 - accuracy: 0.5303

Epoch 00022: saving model to checkpoints2/weights.22.hdf5
Epoch 23/100
804/804 [==============================] - 0s 467us/step - loss: 0.6907 - accuracy: 0.5350

Epoch 00023: saving model to checkpoints2/weights.23.hdf5
Epoch 24/100
804/804 [==============================] - 0s 523us/step - loss: 0.6907 - accuracy: 0.5352

Epoch 00024: saving model to checkpoints2/weights.24.hdf5
Epoch 25/100
804/804 [==============================] - 0s 526us/step - loss: 0.6915 - accuracy: 0.5290

Epoch 00025: saving model to checkpoints2/weights.25.hdf5
Epoch 26/100
804/804 [==============================] - 0s 505us/step - loss: 0.6910 - accuracy: 0.5331

Epoch 00026: saving model to checkpoints2/weights.26.hdf5
Epoch 27/100
804/804 [==============================] - 0s 537us/step - loss: 0.6907 - accuracy: 0.5354

Epoch 00027: saving model to checkpoints2/weights.27.hdf5
Epoch 28/100
804/804 [==============================] - 0s 544us/step - loss: 0.6915 - accuracy: 0.5291

Epoch 00028: saving model to checkpoints2/weights.28.hdf5
Epoch 29/100
804/804 [==============================] - 0s 538us/step - loss: 0.6912 - accuracy: 0.5325

Epoch 00029: saving model to checkpoints2/weights.29.hdf5
Epoch 30/100
804/804 [==============================] - 0s 536us/step - loss: 0.6913 - accuracy: 0.5312

Epoch 00030: saving model to checkpoints2/weights.30.hdf5
Epoch 31/100
804/804 [==============================] - 0s 546us/step - loss: 0.6916 - accuracy: 0.5291

Epoch 00031: saving model to checkpoints2/weights.31.hdf5
Epoch 32/100
804/804 [==============================] - 0s 499us/step - loss: 0.6912 - accuracy: 0.5321

Epoch 00032: saving model to checkpoints2/weights.32.hdf5
Epoch 33/100
804/804 [==============================] - 0s 492us/step - loss: 0.6911 - accuracy: 0.5327

Epoch 00033: saving model to checkpoints2/weights.33.hdf5
Epoch 34/100
804/804 [==============================] - 0s 503us/step - loss: 0.6906 - accuracy: 0.5363

Epoch 00034: saving model to checkpoints2/weights.34.hdf5
Epoch 35/100
804/804 [==============================] - 0s 479us/step - loss: 0.6911 - accuracy: 0.5333

Epoch 00035: saving model to checkpoints2/weights.35.hdf5
Epoch 36/100
804/804 [==============================] - 0s 502us/step - loss: 0.6905 - accuracy: 0.5368

Epoch 00036: saving model to checkpoints2/weights.36.hdf5
Epoch 37/100
804/804 [==============================] - 0s 497us/step - loss: 0.6918 - accuracy: 0.5256

Epoch 00037: saving model to checkpoints2/weights.37.hdf5
Epoch 38/100
804/804 [==============================] - 0s 499us/step - loss: 0.6914 - accuracy: 0.5309

Epoch 00038: saving model to checkpoints2/weights.38.hdf5
Epoch 39/100
804/804 [==============================] - 0s 559us/step - loss: 0.6908 - accuracy: 0.5354

Epoch 00039: saving model to checkpoints2/weights.39.hdf5
Epoch 40/100
804/804 [==============================] - 0s 529us/step - loss: 0.6912 - accuracy: 0.5313

Epoch 00040: saving model to checkpoints2/weights.40.hdf5
Epoch 41/100
804/804 [==============================] - 0s 520us/step - loss: 0.6909 - accuracy: 0.5339

Epoch 00041: saving model to checkpoints2/weights.41.hdf5
Epoch 42/100
804/804 [==============================] - 0s 558us/step - loss: 0.6917 - accuracy: 0.5295

Epoch 00042: saving model to checkpoints2/weights.42.hdf5
Epoch 43/100
804/804 [==============================] - 0s 543us/step - loss: 0.6913 - accuracy: 0.5312

Epoch 00043: saving model to checkpoints2/weights.43.hdf5
Epoch 44/100
804/804 [==============================] - 0s 513us/step - loss: 0.6906 - accuracy: 0.5369

Epoch 00044: saving model to checkpoints2/weights.44.hdf5
Epoch 45/100
804/804 [==============================] - 0s 497us/step - loss: 0.6906 - accuracy: 0.5362

Epoch 00045: saving model to checkpoints2/weights.45.hdf5
Epoch 46/100
804/804 [==============================] - 0s 501us/step - loss: 0.6916 - accuracy: 0.5293

Epoch 00046: saving model to checkpoints2/weights.46.hdf5
Epoch 47/100
804/804 [==============================] - 0s 492us/step - loss: 0.6917 - accuracy: 0.5295

Epoch 00047: saving model to checkpoints2/weights.47.hdf5
Epoch 48/100
804/804 [==============================] - 0s 534us/step - loss: 0.6905 - accuracy: 0.5369

Epoch 00048: saving model to checkpoints2/weights.48.hdf5
Epoch 49/100
804/804 [==============================] - 0s 503us/step - loss: 0.6915 - accuracy: 0.5293

Epoch 00049: saving model to checkpoints2/weights.49.hdf5
Epoch 50/100
804/804 [==============================] - 0s 499us/step - loss: 0.6905 - accuracy: 0.5366

Epoch 00050: saving model to checkpoints2/weights.50.hdf5

Epoch 51/100
804/804 [==============================] - 0s 557us/step - loss: 0.6914 - accuracy: 0.5309

Epoch 00051: saving model to checkpoints2/weights.51.hdf5
Epoch 52/100
804/804 [==============================] - 0s 535us/step - loss: 0.6914 - accuracy: 0.5315

Epoch 00052: saving model to checkpoints2/weights.52.hdf5
Epoch 53/100
804/804 [==============================] - 0s 516us/step - loss: 0.6905 - accuracy: 0.5374

Epoch 00053: saving model to checkpoints2/weights.53.hdf5
Epoch 54/100
804/804 [==============================] - 0s 553us/step - loss: 0.6917 - accuracy: 0.5288

Epoch 00054: saving model to checkpoints2/weights.54.hdf5
Epoch 55/100
804/804 [==============================] - 0s 520us/step - loss: 0.6904 - accuracy: 0.5391

Epoch 00055: saving model to checkpoints2/weights.55.hdf5
Epoch 56/100
804/804 [==============================] - 0s 476us/step - loss: 0.6913 - accuracy: 0.5325

Epoch 00056: saving model to checkpoints2/weights.56.hdf5
Epoch 57/100
804/804 [==============================] - 0s 520us/step - loss: 0.6910 - accuracy: 0.5346

Epoch 00057: saving model to checkpoints2/weights.57.hdf5
Epoch 58/100
804/804 [==============================] - 0s 485us/step - loss: 0.6913 - accuracy: 0.5325

Epoch 00058: saving model to checkpoints2/weights.58.hdf5
Epoch 59/100
804/804 [==============================] - 0s 485us/step - loss: 0.6916 - accuracy: 0.5308

Epoch 00059: saving model to checkpoints2/weights.59.hdf5
Epoch 60/100
804/804 [==============================] - 0s 541us/step - loss: 0.6911 - accuracy: 0.5339

Epoch 00060: saving model to checkpoints2/weights.60.hdf5
Epoch 61/100
804/804 [==============================] - 0s 473us/step - loss: 0.6916 - accuracy: 0.5295

Epoch 00061: saving model to checkpoints2/weights.61.hdf5
Epoch 62/100
804/804 [==============================] - 0s 498us/step - loss: 0.6912 - accuracy: 0.5331

Epoch 00062: saving model to checkpoints2/weights.62.hdf5
Epoch 63/100
804/804 [==============================] - 0s 562us/step - loss: 0.6913 - accuracy: 0.5327

Epoch 00063: saving model to checkpoints2/weights.63.hdf5
Epoch 64/100
804/804 [==============================] - 0s 532us/step - loss: 0.6906 - accuracy: 0.5376

Epoch 00064: saving model to checkpoints2/weights.64.hdf5
Epoch 65/100
804/804 [==============================] - 0s 532us/step - loss: 0.6912 - accuracy: 0.5341

Epoch 00065: saving model to checkpoints2/weights.65.hdf5
Epoch 66/100
804/804 [==============================] - 0s 531us/step - loss: 0.6914 - accuracy: 0.5315

Epoch 00066: saving model to checkpoints2/weights.66.hdf5
Epoch 67/100
804/804 [==============================] - 0s 567us/step - loss: 0.6906 - accuracy: 0.5377

Epoch 00067: saving model to checkpoints2/weights.67.hdf5
Epoch 68/100
804/804 [==============================] - 0s 485us/step - loss: 0.6915 - accuracy: 0.5313

Epoch 00068: saving model to checkpoints2/weights.68.hdf5
Epoch 69/100
804/804 [==============================] - 0s 503us/step - loss: 0.6919 - accuracy: 0.5268

Epoch 00069: saving model to checkpoints2/weights.69.hdf5
Epoch 70/100
804/804 [==============================] - 0s 530us/step - loss: 0.6907 - accuracy: 0.5378

Epoch 00070: saving model to checkpoints2/weights.70.hdf5
Epoch 71/100
804/804 [==============================] - 0s 480us/step - loss: 0.6912 - accuracy: 0.5346

Epoch 00071: saving model to checkpoints2/weights.71.hdf5
Epoch 72/100
804/804 [==============================] - 0s 512us/step - loss: 0.6915 - accuracy: 0.5298

Epoch 00072: saving model to checkpoints2/weights.72.hdf5
Epoch 73/100
804/804 [==============================] - 0s 497us/step - loss: 0.6914 - accuracy: 0.5307

Epoch 00073: saving model to checkpoints2/weights.73.hdf5
Epoch 74/100
804/804 [==============================] - 0s 526us/step - loss: 0.6915 - accuracy: 0.5316

Epoch 00074: saving model to checkpoints2/weights.74.hdf5
Epoch 75/100
804/804 [==============================] - 0s 541us/step - loss: 0.6917 - accuracy: 0.5295

Epoch 00075: saving model to checkpoints2/weights.75.hdf5
Epoch 76/100
804/804 [==============================] - 0s 553us/step - loss: 0.6914 - accuracy: 0.5322

Epoch 00076: saving model to checkpoints2/weights.76.hdf5
Epoch 77/100
804/804 [==============================] - 0s 528us/step - loss: 0.6916 - accuracy: 0.5291

Epoch 00077: saving model to checkpoints2/weights.77.hdf5
Epoch 78/100
804/804 [==============================] - 0s 522us/step - loss: 0.6916 - accuracy: 0.5291

Epoch 00078: saving model to checkpoints2/weights.78.hdf5
Epoch 79/100
804/804 [==============================] - 0s 541us/step - loss: 0.6912 - accuracy: 0.5336

Epoch 00079: saving model to checkpoints2/weights.79.hdf5
Epoch 80/100
804/804 [==============================] - 0s 483us/step - loss: 0.6915 - accuracy: 0.5298

Epoch 00080: saving model to checkpoints2/weights.80.hdf5
Epoch 81/100
804/804 [==============================] - 0s 480us/step - loss: 0.6910 - accuracy: 0.5344

Epoch 00081: saving model to checkpoints2/weights.81.hdf5
Epoch 82/100
804/804 [==============================] - 0s 495us/step - loss: 0.6913 - accuracy: 0.5332

Epoch 00082: saving model to checkpoints2/weights.82.hdf5
Epoch 83/100
804/804 [==============================] - 0s 505us/step - loss: 0.6911 - accuracy: 0.5340

Epoch 00083: saving model to checkpoints2/weights.83.hdf5
Epoch 84/100
804/804 [==============================] - 0s 497us/step - loss: 0.6914 - accuracy: 0.5322

Epoch 00084: saving model to checkpoints2/weights.84.hdf5
Epoch 85/100
804/804 [==============================] - 0s 500us/step - loss: 0.6910 - accuracy: 0.5366

Epoch 00085: saving model to checkpoints2/weights.85.hdf5
Epoch 86/100
804/804 [==============================] - 0s 537us/step - loss: 0.6916 - accuracy: 0.5304

Epoch 00086: saving model to checkpoints2/weights.86.hdf5
Epoch 87/100
804/804 [==============================] - 0s 547us/step - loss: 0.6903 - accuracy: 0.5392

Epoch 00087: saving model to checkpoints2/weights.87.hdf5
Epoch 88/100
804/804 [==============================] - 0s 540us/step - loss: 0.6914 - accuracy: 0.5308

Epoch 00088: saving model to checkpoints2/weights.88.hdf5
Epoch 89/100
804/804 [==============================] - 0s 520us/step - loss: 0.6906 - accuracy: 0.5364

Epoch 00089: saving model to checkpoints2/weights.89.hdf5
Epoch 90/100
804/804 [==============================] - 0s 578us/step - loss: 0.6913 - accuracy: 0.5327

Epoch 00090: saving model to checkpoints2/weights.90.hdf5
Epoch 91/100
804/804 [==============================] - 0s 515us/step - loss: 0.6918 - accuracy: 0.5274

Epoch 00091: saving model to checkpoints2/weights.91.hdf5
Epoch 92/100
804/804 [==============================] - 0s 483us/step - loss: 0.6919 - accuracy: 0.5283

Epoch 00092: saving model to checkpoints2/weights.92.hdf5
Epoch 93/100
804/804 [==============================] - 0s 472us/step - loss: 0.6910 - accuracy: 0.5343

Epoch 00093: saving model to checkpoints2/weights.93.hdf5
Epoch 94/100
804/804 [==============================] - 0s 480us/step - loss: 0.6914 - accuracy: 0.5309

Epoch 00094: saving model to checkpoints2/weights.94.hdf5
Epoch 95/100
804/804 [==============================] - 0s 517us/step - loss: 0.6908 - accuracy: 0.5365

Epoch 00095: saving model to checkpoints2/weights.95.hdf5
Epoch 96/100
804/804 [==============================] - 0s 510us/step - loss: 0.6918 - accuracy: 0.5280

Epoch 00096: saving model to checkpoints2/weights.96.hdf5
Epoch 97/100
804/804 [==============================] - 0s 473us/step - loss: 0.6912 - accuracy: 0.5326

Epoch 00097: saving model to checkpoints2/weights.97.hdf5
Epoch 98/100
804/804 [==============================] - 0s 547us/step - loss: 0.6911 - accuracy: 0.5349

Epoch 00098: saving model to checkpoints2/weights.98.hdf5
Epoch 99/100
804/804 [==============================] - 0s 549us/step - loss: 0.6910 - accuracy: 0.5346

Epoch 00099: saving model to checkpoints2/weights.99.hdf5
Epoch 100/100
804/804 [==============================] - 0s 535us/step - loss: 0.6913 - accuracy: 0.5320

Epoch 00100: saving model to checkpoints2/weights.100.hdf5

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.8838 - accuracy: 0.6020
Loss: 0.883849024772644, Accuracy: 0.6019825339317322

In [20]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimized.h5")